*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body{
    width: 100%; 
    background-color: #F5F3F0;
}

 /** All Titles**/
 h4{
     font-size: 1em;
 }

 h1{
    margin-top: 40px;
    color: black;
    text-decoration: underline;
    margin-left: 20px;
    text-align: left;
    margin-left: 25px;
  }


/**===== Header =====**/
header{
    width: 100%;
    background-image: url("./img/Nos_produits/NOS_PRODUITS_NAV.jpg");
    height: 100px;
}

header h1#special{
    color: azure;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}



/**===== la vie du produit =====**/
.box-icons{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    height: auto;
}
  
.box-icons > div{
    flex: 0 0 25%;
    padding: 20px 0px;
}


/**===== Les plus achetés =====**/
.global{
    width: 90%;
    margin: 10px;
}

.global{
    height: auto;
    margin-left: 140px;
    margin-right: 140px;
  }
  
  .global > div{
    padding: 20px 0px;
  }
  
  .row{
    margin-left: auto;
    margin-right: auto;
  }

  .column {
    position: relative;
    width: 25%;
    margin: 15px;
    text-align: center;
    
  }
  
  .column .contents h3, p{
    text-align: center;
  }
  
  .column_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

  .content {
    padding: 10px 0 70px;
    height: 100%;
  
  }

  .column .btn-global{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .column .btn-global:hover {
    cursor: pointer;
  }



/** ================ Recettes ================= **/
ul.ingredient-list{
    list-style: circle;
}

.divImg{
    background-image: url("./img/Recettes/Quiche\ Saumon\ Brocolis.jpg");
    width: 50vw;
}

hr.line{
    border: 2px solid black;
    height: 4px;
    width: 100%;
}


