:root {
  --secondary-color: orange;
  --main-color: #a5ce8d; /* couleur à changer quand les couleurs du sites sont définis */
  --dark-color: rgba(37, 37, 37, 0.863);
  --light-color: #f5f3f0;
}

/*****************************************/
/**********CSS GENERAL********************/

body {
  background-color: var(--light-color);
  font-family: "Quicksand", sans-serif;
}

/* .btn-primary {
  Propriétés générales à faire pour appeler la classe sur chaque bouton du site ou presque, à voir
} */

/****FOOTER****/
/**************/

footer {
  color: white;
  padding-left: 140px;
  padding-right: 140px;
  background-color: var(--dark-color);
  border-top: transparent 2px solid;
}

.mentions-légales a,
.vppc a {
  border-bottom: 1px solid var(--main-color);
  padding: 5px 0px;
  margin: 5px 0px;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  line-height: 25px;
}

.footer ul {
  padding: 0px;
}

.footer .logos {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  width: 200px;
}

.footer i {
  font-size: 50px;
}

.fa-facebook-square {
  color: rgb(58, 87, 149);
}

.fa-twitter-square {
  color: rgb(28, 156, 235);
}

/**********************/
/*FOOTER media queries*/
/**********************/

@media screen and (min-width: 710px) and (max-width: 920px) {
  .mentions-légales li ul:nth-child(4) {
    width: 70px;
  }

  .mentions-légales {
    padding-right: 20px;
  }

  .Réseaux-sociaux {
    padding-left: 60px;
  }
  footer {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 710px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .mentions-légales,
  .vppc {
    width: 175px;
    margin-left: 75px;
  }

  .mentions-légales li ul:nth-child(4) {
    width: 70px;
  }

  .Réseaux-sociaux {
    text-align: center;
  }
}

/************************************/
/*Page nos Valeurs Section c'est bio*/
/************************************/

.nos_valeursbio {
  padding-right: 140px;
  padding-left: 140px;
}

.nos_valeursbio h3,
h1 {
  text-align: center;
}

.containerbio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0px;
}

.cardsbio {
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.imgbio img {
  height: auto;
  width: 250px;
}

@media screen and (max-width: 1115px) {
  .containerbio {
    justify-content: center;
  }

  .cardsbio {
    padding: 20px;
  }
}

/**************************/
/*Paragraphe de Nos valeur*/
.container {
  display: flex;
  justify-content: center;
}

.Pnovaleur {
  margin: 20px 140px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  background-color: white;
}
