* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #F5F3F0;
  font-family: 'quicksand';
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1.8em;
}

.Content_1 .bnt-box {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 40px;
  max-width: 150px;
  border: 1px solid #A5CE8D;
  border-radius: 25px;
  color: #A5CE8D;
  font-weight: 400;
  margin-top: 13px;
  margin-left: 15px;

}

.content_1 .bnt-box:hover {
  background-color: #A5CE8D;
  color: whitesmoke;
  cursor: pointer;
}


/** SECTION I**/
.box_1 {
  width: 90%;
  margin-top: 40px;
}

.part_1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 25px;
}

.part_1 .image_1 {
  width: 50vw;
  object-fit: cover;
  margin-right: 15px;
}

.content_1 {
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 20px;
  color: rgb(61, 61, 61);
  font-size: 15px;
}

.content_1 .bnt-box {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid #A5CE8D;
  border-radius: 25px;
  color: #A5CE8D;

}

.content_1 .bnt-box:hover {
  background-color: #A5CE8D;
  color: whitesmoke;
  cursor: pointer;
}

/** SECTION II**/

.global {
  /* display: flex; */
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: auto;
  /* margin-left: 70px; */
  margin: auto;
}

.global-title {
  margin-top: 30px;
  color: black;
  text-decoration: underline;
  text-align: left;
  margin-left: 10%;
}

.all {
  width: 200px;
  color: black;
  text-decoration: underline;
  text-align: left;
}

.c2,
.column {
  display: flex;
  flex-wrap: wrap;
}

.column {
  min-width: 200px;
  margin: 15px;
}

.c2 {
  height: 150px;
  max-width: 150px !important;
}

.c2 .content {
  max-height: 150px !important;
  max-width: 150px !important;
  background: transparent;
}

.c2 img {
  height: 120px;
  width: 120px !important;
}

.content_column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

}

.content h3,
p {
  margin: 15px;
  text-align: center;
}

.column_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}


.content {
  background-color: white;
  padding: 10px;
  align-items: center;
}

.column .content {
  min-height: 350px;
  min-width: 200px;
}

.btn-prime {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border: 1px solid #A5CE8D;
  border-radius: 25px;
  color: #A5CE8D;
  font-weight: 400;
}

.btn-prime {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 40px;
  max-width: 150px;
  border: 1px solid #A5CE8D;
  border-radius: 25px;
  color: #A5CE8D;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.btn-prime:hover {
  background-color: #A5CE8D;
  color: whitesmoke;
  cursor: pointer;
}

.bnt-box {
  position: absolute;
  bottom: 15px;
  left: 50%;
  padding: 10px 15px;
  border: 1px solid #A5CE8D;
  border-radius: 25px;
  color: #A5CE8D;
  font-weight: 400;
}

.btn-box {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 40px;
  max-width: 100px;
  border: 1px solid #A5CE8D;
  border-radius: 25px;
  color: #A5CE8D;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.btn-box:hover {
  background-color: #A5CE8D;
  color: whitesmoke;
  cursor: pointer;
}

/** SECTION III**/

.part_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-left: 70px;
  padding-right: 70px;
}

.part_3 .image_3 {
  width: 50vw;
  object-fit: cover;
  margin-right: 15px;
  max-width: 100%;
}

.content_3 {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  color: rgb(61, 61, 61);
  font-size: 15px;
}

.content_3 h1 {
  color: black;
  text-decoration: underline;
  margin-left: 20px;
}

article {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.divImg {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.imageRecettes {
  width: 120%;
  object-fit: cover;
}

.divImg img {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contentDirIcon{
  position: absolute;
  display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
    height: 25%;
}

.dirIcon{
  margin-bottom: 0%;
  z-index: 1;
}

article h3{
  margin-left: 15px;
  width: 30%;
  font-size: 2em;
  margin-bottom: 15px;
}

.detailRecette{
  width: 50%;
}

article legend{
  color: #F5F3F0;
  color: #F5F3F0;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px #fff;
}

/**============= All Queries ===============**/
@media screen and (max-width: 320px) {

  .part_1,
  .part_3 {
    display: flex;
    flex-wrap: wrap;
  }

  /* .column {
    min-width: 200p;
    display: flex;
    margin-bottom: 20px;

  }x */
}


@media screen and (max-width: 600px) {

  .part_1,
  .part_3 {
    display: flex;
    flex-wrap: nowrap;
  }

  .column {
    width: 40%;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
  }
}


@media screen and (max-width: 800px) {
  .column {
    width: 25%;
  }



}