:root {
  --main-color: green; /* couleurs à changer quand les couleurs du sites sont définis */
  --secondary-color: orange;
}

/*****************************************/
/**********CSS GENERAL********************/

body {
  padding-left: 75px;
  padding-right: 75px;
}

/* .btn-primary {
  Propriétés générales à faire pour appeler la classe sur chaque bouton du site ou presque, à voir
} */
